*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book{
    min-height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gainsboro;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
}
.show-book {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}